.banner {
    background-image: url('https://homeradar.kwst.net/images/bg/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 445px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.overlay {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.6) 90%);
}

.header {
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    padding: 5px 0 45px;
    bottom: 0;
}

.header-name {
    text-align: left;
    font-weight: 600;
    padding-bottom: 8px;
    color: #FFF;
    position: relative;
    font-size: 46px;
}

.header-address {
    color: #3270FC;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;
}

.address {
    font-weight: 600;
    font-size: 13px;
}

.rate-header {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.ant-rate-star.ant-rate-star-full,
.ant-rate-star.ant-rate-star-zero {
    font-size: 13px !important;
}

.rate-text {
    margin-left: 8px;
    color: #878C9F;
    font-weight: 400;
}

.prices-date {
    display: flex;
    color: #fff;
}

.prices {
    margin-right: 16px;
    font-size: 13px;
    font-weight: 800;
}

.prices span {
    color:#3270FC;
    font-size: 22px;
    font-weight: 800;
}

.date {
    font-size: 13px;
    font-weight: 800;
    display: flex;
    align-items: center;
}