.content-home {
    background-image: url(../../asset/img/Slider/Home.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 85%;
    top: 0;
    left: 15%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.95) 20%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 95%);
    z-index: 5;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 3;
}


.content-banner {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 1224px;
    margin: 0 auto;
    color: #fff;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    font-weight: 600;
}

.text-home {
    margin: 20px 20px 20px 0;
}

input {
    color: white;
    border-color: #fff;
    border-left: 1px solid#eee;
}

.btn-search-home {
    display: flex;
    height: 57.6px;
    width: 120px;
    color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    margin: 0;
    background: #3270FC;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-search-home:hover {
    background: linear-gradient(to right, #3C6AFD, #57C7FA);
}

.btn-search-i {
    align-items: center;
    margin-left: 8px;
    margin-bottom: -1px;
}

.fw-bread {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07)
}

.share-btn {
    padding: 8px 30px;
    background: #fff;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #eee;
    color: #144273;
    font-weight: 600;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.03);
    font-size: 12px;
}

.title-router {
    position: relative;
}

.title-router::before {
    position: absolute;
    content: "";
    top: 57%;
    left: -9px;
    width: 5px;
    height: 5px;
    background: #3B82f6;
    transform: translateY(-50%);
    border-radius: 50%;
}

.conten-fw {
    width: 1204px;
    margin: 0 auto;
}