
.login-box .user-box .title {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}


.login-box .user-box .input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    outline: none;
    background: transparent;
}

.btn-login {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background-color: rgb(0, 119, 255);
}

.remember-forgot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}