.product {
  padding-bottom: 10px;
  background-color: #f5f7fb;
}

.product-content {
  width: 1204px;
  margin: 0 auto;
}

.button-small:hover {
  color: #fff;
  background-color: #3270fc;
}
.button-small:focus {
  color: #fff;
  background-color: #3270fc;
}

.button-small:active {
  background-color: #3270fc;
}
